<div class="row">
  <div class="contents col-md-9">
    <div class="page-header">
      <h1>Citation & Authorship</h1>
    </div>
    <h2>How to cite</h2>
      {{#source}}<small class="dont-index">{{{.}}}</small>{{/source}}

    {{#citations}}
    {{{html}}}
    <pre>{{{bibtex}}}</pre>
    {{/citations}}


    <h2>Authors</h2>
    <ul class="list-unstyled">
      {{#authors}}
      <li>
        <p><strong>{{{name}}}</strong>. {{{roles}}}. {{{orcid}}}
        {{#comment}}<br /><small>{{{.}}}</small>{{/comment}}</p>
      </li>
      {{/authors}}
    </ul>

  </div>

</div>

