{{#footer}}
<!-- ropenspain rostemplate -->
<footer id="footer">
  <div class="container" >
    <div class="row">
      <div class="col-md">
        <h4 data-toc-skip>About <img src="{{#site}}{{root}}{{/site}}logo.png" alt="{{#site}}{{title}}{{/site}} Logo" height="24"> {{#site}}{{title}}{{/site}}</h4>
        {{#left}}{{{.}}}{{/left}}
        <p>Part of the <span class="ROS-light">rOpenSpain</span> project.</p>
        <hr class="d-md-none">
      </div>
      <div class="col-md offset-md-4">
        <h4 data-toc-skip>About <img src="{{#site}}{{root}}{{/site}}ROS-logo.png" alt="ROpenSpain Logo" height="24"><span class="ROS-light"> rOpenSpain</span></h4>
        <a href="https://ropenspain.es/"><span class="ROS-light">rOpenSpain</span></a> is a community of R enthusiasts whose ultimate goal is to create high-quality R packages for data mining public Spanish open sources.
        <hr class="d-md-none">
      </div>
   </div>
  </div>
</footer>

<div id="copyright">
  <div class="container" >
    <div class="row">
      <div class="col-md text-center text-md-start">
        {{#right}}{{{.}}}{{/right}}
      </div>
      <div class="col-md offset-md-4 text-center text-md-start lh-base">
      <p>Template <a href="https://github.com/ropenspain/rostemplate/">rostemplate</a> by <a href="https://github.com/dieghernan/">dieghernan</a>, based on <a href="https://templatesherpa.com/templates/universal-business-e-commerce">templatesherpa.com</a>.
      </p>
      </div>
    </div>
  </div>
</div>
{{/footer}}
