{{#footer}}
<footer id="footer">
  <div class="container">
		<div class="col-md-3 col-sm-6 col-md-offset-1">
			<h4 data-toc-skip>About <img src="{{#site}}{{root}}{{/site}}logo.png" alt="{{#site}}{{title}}{{/site}} Logo" height="24"> {{#site}}{{title}}{{/site}}</h4>
      {{#left}}{{{.}}}{{/left}}
      <p>Part of the <span class="ROS-light">rOpenSpain</span> project.</p>
			<hr class="hidden-md hidden-lg hidden-sm">
		</div>
		<div class="col-md-3 col-sm-6 col-md-offset-4">
			<h4 data-toc-skip>About <img src="{{#site}}{{root}}{{/site}}ROS-logo.png" alt="ROpenSpain Logo" height="24"><span class="ROS-light"> rOpenSpain</span></h4>
			<a href="https://ropenspain.es/"><span class="ROS-light">rOpenSpain</span></a> is a community of R enthusiasts whose ultimate goal is to create high-quality R packages for data mining public Spanish open sources.
			<hr class="hidden-md hidden-lg hidden-sm">
		</div>
</div>
</footer>
<div id="copyright">
	<div class="container">
		<div class="col-md-12">
			<p class="pull-left">
			  {{#right}}{{{.}}}{{/right}}
			</p>
			<p class="pull-right">
			Template by <a href="https://bootstrapious.com/snippets">Bootstrapious </a>.
			Ported to pkgdown by <a href="https://github.com/dieghernan/">dieghernan</a>.
			</p>
		</div>
	</div>
</div>

<!-- ropenspain -->
<script src="{{#site}}{{root}}{{/site}}ropenspain.js"></script>
{{/footer}}

