.Rproj.user
.Rhistory
.RData
.Ruserdata
rostemplate.Rcheck/
rostemplate*.tar.gz
rostemplate*.tgz
.github/R-version
.github/depends.Rds
doc
docs
Meta
project.Rcheck/
project*.tar.gz
project*.tgz
/doc/
/Meta/
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/
revdep
