@charset "utf-8";
.ROS-label-default {
  background-color: #986dbd;
}

.ROS-label-info {
  background-color: #5a9ddb;
}

.ROS-label-warning {
  background-color: #9C27B0;
}

.pre,
.code {
  font-family: 'Roboto Mono', monospace;
}

.ROS-light {
  font-weight: 300;
}

.ROS-black {
  color: black;
}

#ROS-navbar-brand {
  padding-top: 10px;
  font-size: 28px;
  font-weight: 300;
}

#ROS-heading-breadcrumbs {
  background: url('texture-bw.png') center center repeat;
  padding-top: 10px;
}

#ROS-partof {
  font-weight: 300;
  color: black;
}
